.idea
sh/results/
sh/saved_models/
sh/tensorboard/
data/
__pycache__/
evaluator/CodeBLEU/__pycache__/
evaluator/CodeBLEU/parser/__pycache__/
evaluator/__pycache__/
codet5_tmp/
conala_test_file
conala_train_file
*.txt
